 <footer>
      <div class="quick-links">
        <ul>
          <h4>Join The Conversation</h4>
          <li><a href="/facebook.com"><img src="/Images/icon-facebook.svg" alt="facebook-icon"></a></li>
          <li><a href="/instagram.com"><img src="/Images/icon-instagram.svg" alt="ig-icon"></a></li>
          <li><a href="/twitter.com"><img src="/Images/icon-twitter.svg" alt="twitter-icon"></a></li>
        </ul>
      </div>
      <div class="footer-text">
        <p>&copy GMS 2019 - 2023</p>
        <p> All Rights Reserved.</p>
      </div>
    </footer>