,<header>
  <h1>GMS</h1>
  <nav>
      <a href="/">Home</a>
      <a href="/signUp">Sign up</a>
      <a href="/login">Login</a>
      <a href="/shop">Shop</a>
      <a href="/updateusers">Update Users</a>
      <a href="/logout">Logout</a>
    
  </nav>
</header>