<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('__header.ejs') %>
  <div class="login-container">
    <h2>Login Form</h2>
    <form action="/loginAdmin" method="POST"> 
      <label for="email">EMAIL NO:</label>
      <input type="number" id="email" name="email" required>

      <label for="password">PASSWORD:</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>