<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GMS</title>
  <link rel="icon" href="/Images/letter-g-icon (1).png" type="image/png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <%- include('__header.ejs') %>
  <div class="section1">
<h1>Home Page</h1>
  <% if(locals.user){%>
    <h2>Welcome <%= user.users_name  %></h2>
    <% }else{ %>
      <h2>Hello, Welcome to GMS</h2>
      <% } %> 
<div class="hero-container">
<div class="description">
  <h4>About us</h4>
  <p>We exist to ease your fitness journey</p>
  <p>Already have an account, <a href="/login">Sign In</a></p>
  <p>New here, <a href="/signUp">Sign up</a></p> 
</div>
<div class="hero-img">
  <img src="/Images/gym-pe.png" alt="Hero image">
</div>
</div>
</div>
<section class="section2">
  <div class="description-2">
  <h1>Training Programs</h1>
  <div class="programs-container">
  <div class="programs">
    <img src="/Images/body-building.svg" alt="Body-building">
    <h1>Body Building</h1>
  </div>
  <div class="programs">
    <img src="/Images/cardio.svg" alt="Cardio">
    <h1>Aerobics</h1>
  </div>
  <div class="programs">
    <img src="/Images/power-lifting.svg" alt="Power-lifting">
    <h1>Power Lifting</h1>
  </div>
  <div class="programs">
    <img src="/Images/yoga.svg" alt="Yoga and stretching">
    <h1>Yoga and stretching</h1>
  </div>
  </div>
</div>
</section>
<section class="section3">
  <h1>We are here to guide you</h1>
  <p>Team of expert trainers are available to guide and support you. Get prffesional pans, workouts and nutrition plans customized to your specific needs</p>
  <div class="gallery">
        <div class="gallery-item">
            <img src="/Images/coach-1.jpeg" alt="Coach 1">
            <h3>Carlos Waema</h3>
            <p>Body building specialist</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/coach-2.jpeg" alt="Coach 2">
            <h3>Jane Njeri</h3>
            <p>Aerobics trainer</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/coach-3.webp" alt="Coach 3">
            <h3>David Kiprono</h3>
            <p>Power lifter trainer</p>
        </div>
        </div>

</section>

<!-- <div class="Trainees">
  
  <h2>Trainees Data</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Plan_description</th>
      <th>Start Date</th>
      <th>End Date</th>

    </tr>
    /*  for(let index = 0; index<trainees.length;index++) {%> */
      <tr>
        <td>=trainees[index].name %></td>
        <td>=trainees[index].email %></td>
        <td>=trainees[index].description %></td>
        <td>=trainees[index].startDate %></td>
        <td>=trainees[index].endDate %></td>
      </tr>
       } %>
  </table>
  </div> -->
  <%- include('__footer.ejs') %>
</body>
</html>