<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="icon" href="/Images/letter-g-icon (1).png" type="image/png">
</head>
<body>
  <%- include('__header.ejs') %>
  <div class="login-container">
    <h2>Login Form</h2>
    <form action="/login" method="POST"> 
      <div>
      <label for="email">EMAIL NO:</label>
      <input type="email" id="email" name="email" required>
      </div>
      <div>
      <label for="password">PASSWORD:</label>
      <input type="password" id="password" name="pass" required>
      <!-- <label class="show-password-label">
        <input type="checkbox" onclick="myFunction()">Show Password
      </label> -->
      </div>
      <div>
      <input type="submit" value="Login">
      </div>
    </form>
  </div>
  <%- include('__footer.ejs') %>
  <script src="/js/index.js"></script>
</body>
</html>