<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/footer2.css">
  <link rel="icon" href="/Images/letter-g-icon (1).png" type="image/png">
</head>
<body>
 <%-include("__header.ejs")%>
 <h1>Home Page</h1>
     <div class="gallery">
        <div class="gallery-item">
            <img src="/Images/african-3.jpeg" alt="Item 1">
            <h3>Item 1</h3>
            <p>Price: $10.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
        <div class="gallery-item">
            <img src="/Images/african-4.png" alt="Item 2">
            <h3>Item 2</h3>
            <p>Price: $15.99</p>
        </div>
    </div>
    <%- include('__footer.ejs') %>
  <script src="/js/index.js"></script>
  
</body>
</html>